html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}


body {
  padding-top: 100px;
  padding-right: 300px;
  padding-left: 300px;
  background-color: #ffb3ec;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,p {
  text-align: center;

}
.board {
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
}

.board div {
  background-color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.board div:hover {
  background-color: white;
}

div.mine, div.mine:hover {
  background: no-repeat center/60% url("bomb.svg") crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/60% url("mark.svg") deepskyblue;
}
